In [1]:
%matplotlib notebook

In [2]:
#Import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
stroke_df = pd.read_csv("Resources/healthcare-dataset-stroke-data.csv")
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [4]:
#Data Cleaning
# 1. ever_married: Yes = 1, No = 0
stroke_df["ever_married"].replace({"Yes": 1, "No": 0}, inplace=True)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,1,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,1,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,1,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,1,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,1,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,1,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,1,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,1,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,1,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,1,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
# 2. fill in N/A values in bmi column 
# Drop rows with missing values in any of the selected columns
model_df = stroke_df.dropna()

# Convert categorical variables into dummy variables
model_df["gender_Female"] = (model_df["gender"] == "Female").astype(int)
model_df["gender_Male"] = (model_df["gender"] == "Male").astype(int)

# Drop the original "gender" column
model_df = model_df.drop("gender", axis=1)

model_df = pd.get_dummies(model_df, columns=["smoking_status"],drop_first=True)


x = model_df.drop(["bmi", "work_type", "Residence_type"], axis=1)
y = model_df["bmi"]

/var/folders/14/lh0j78f967d122z1tgbltm400000gn/T/ipykernel_23157/1659040495.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df["gender_Female"] = (model_df["gender"] == "Female").astype(int)
/var/folders/14/lh0j78f967d122z1tgbltm400000gn/T/ipykernel_23157/1659040495.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df["gender_Male"] = (model_df["gender"] == "Male").astype(int)

,id,age,hypertension,heart_disease,ever_married,avg_glucose_level,stroke,gender_Female,gender_Male,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,67.0,0,1,1,228.69,1,0,1,1,0,0
2,31112,80.0,0,1,1,105.92,1,0,1,0,1,0
3,60182,49.0,0,0,1,171.23,1,1,0,0,0,1
4,1665,79.0,1,0,1,174.12,1,1,0,0,1,0
5,56669,81.0,0,0,1,186.21,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,13.0,0,0,0,103.08,0,1,0,0,0,0
5106,44873,81.0,0,0,1,125.20,0,1,0,0,1,0
5107,19723,35.0,0,0,1,82.99,0,1,0,0,1,0
5108,37544,51.0,0,0,1,166.29,0,0,1,1,0,0
5109,44679,44.0,0,0,1,85.28,0,1,0,0,0,0

In [6]:
# Create an instance of the linear regression model
model = LinearRegression()

# Fit the model to the data
model.fit(x, y)

# Select rows with missing values in the "bmi" column
missing_data = stroke_df[stroke_df["bmi"].isnull()]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,51676,Female,61.0,0,0,1,Self-employed,Rural,202.21,NaN,never smoked,1
8,27419,Female,59.0,0,0,1,Private,Rural,76.15,NaN,Unknown,1
13,8213,Male,78.0,0,1,1,Private,Urban,219.84,NaN,Unknown,1
19,25226,Male,57.0,0,1,0,Govt_job,Urban,217.08,NaN,Unknown,1
27,61843,Male,58.0,0,0,1,Private,Rural,189.84,NaN,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5039,42007,Male,41.0,0,0,0,Private,Rural,70.15,NaN,formerly smoked,0
5048,28788,Male,40.0,0,0,1,Private,Urban,191.15,NaN,smokes,0
5093,32235,Female,45.0,1,0,1,Govt_job,Rural,95.02,NaN,smokes,0
5099,7293,Male,40.0,0,0,1,Private,Rural,83.94,NaN,smokes,0
5105,18234,Female,80.0,1,0,1,Private,Urban,83.75,NaN,never smoked,0

In [7]:
# Prepare the missing data for prediction by selecting the same columns as X and creating dummy variables
missing_data["gender_Female"] = (missing_data["gender"] == "Female").astype(int)
missing_data["gender_Male"] = (missing_data["gender"] == "Male").astype(int)
missing_data = missing_data.drop("gender", axis=1)

missing_data = pd.get_dummies(missing_data, columns=["smoking_status"],drop_first=True)
missing_data

# Predict the missing values
predicted_values = model.predict(missing_data.drop(["bmi","work_type", "Residence_type"], axis=1))

# Fill in the missing values in the original DataFrame
stroke_df.loc[stroke_df["bmi"].isnull(), "bmi"] = predicted_values

/var/folders/14/lh0j78f967d122z1tgbltm400000gn/T/ipykernel_23157/4256865598.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_data["gender_Female"] = (missing_data["gender"] == "Female").astype(int)
/var/folders/14/lh0j78f967d122z1tgbltm400000gn/T/ipykernel_23157/4256865598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_data["gender_Male"] = (missing_data["gender"] == "Male").astype(int)

In [8]:
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,1,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,1,Self-employed,Rural,202.21,31.735817,never smoked,1
2,31112,Male,80.0,0,1,1,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,1,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,1,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,1,Private,Urban,83.75,33.905702,never smoked,0
5106,44873,Female,81.0,0,0,1,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,1,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,1,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,1,Govt_job,Urban,85.28,26.200000,Unknown,0

In [9]:
stroke_df.to_csv("Resources/healthcare-dataset-stroke-data-cleaned.csv", index=False)

In [1]:
#NB code here
print("something NB branch?")

something NB branch?